<div class="header flex">
    <div class="logo">
        <img src="assets/icon/logo.svg">
    </div>
    <div class="navbar-center flex">
        <div class="pr_20 fw_600 title-navbar-center mr_40" (click)="showMenuBar()">COLLECTIONS</div>
        <div class="pr_20 fw_600 title-navbar-center mr_40"> CUSTOMIZER</div>
        <div class="pr_20 fw_600 title-navbar-center mr_40">SALE</div>
    </div>
    <div class="navbar-right flex">
        <div class="pr_20 fw_600 mr_40">ITEMS</div>
        <div class="pr_20 fw_600 mr_40">PROFILE</div>
    </div>
</div>
