<div class="header flex">
    <div class="icon-back" (click)="back()">
        <mat-icon>arrow_back_ios</mat-icon>
    </div>
    <div class="logo">
        <img src="assets/icon/logo.svg" (click)="goHomePage()">
    </div>
    <div class="navbar-center flex">
        <div class="pr_20 fw_600 title-navbar-center mr_40" (click)="clickShowMenuBar()">COLLECTIONS</div>
        <div class="pr_20 fw_600 title-navbar-center mr_40"> CUSTOMIZER</div>
        <div class="pr_20 fw_600 title-navbar-center mr_40">SALE</div>
    </div>
    <div class="navbar-right flex">
        <div class="pr_20 fw_600 mr_40">ITEMS</div>
        <div class="pr_20 fw_600 mr_40">PROFILE</div>
    </div>
</div>
<div class="show-navbar" [style.display]="_showMenu ? 'block' : 'none'">
    <div class="title-nav-bar">
        <div>
            <div class="title" *ngFor="let itemCollection of itemCollections" (click)="viewListProducts(itemCollection)">
                {{itemCollection}}</div>
        </div>
        <div>
            <div class="title" *ngFor="let itemClothing of itemClothings" (click)="viewListProducts(itemClothing)">
                {{itemClothing}}</div>
        </div>
        <div>
            <div class="title" *ngFor="let itemAccessorie of itemAccessories" (click)="viewListProducts(itemAccessorie)">
                {{itemAccessorie}}</div>
        </div>
    </div>
</div>
