<app-taskbar></app-taskbar>
<div class="wrapper" (scroll)="onScroll($event)">
    <div class="content">FABLE OF {{clothingCategory}}</div>
    <div class="sort-by">
        <div class="content-left">Jackets KLS</div>
        <div class="content-right">
            <div>Sort by</div>
            <select id="select-sort">
                <ng-container *ngFor="let sort of nameSort">
                    <option value="{{sort}}">{{sort}}</option>
                </ng-container>
              </select>
        </div>
    </div>
    <div class="images">
        <ng-container *ngFor="let image of details">
            <div class="column" (click)="vieDetail(image.location_area_encounters)">
                <img src="{{image.sprites.other.dream_world.front_default}}">
            </div>
        </ng-container>
            <div class="detail-pokemon">

            </div>
    </div>
    <div class="detail"></div>
</div>
