<div class="wrapper">
    <div class="header flex">
        <div class="logo">
            <img src="assets/icon/logo.svg">
        </div>
        <div class="navbar-center flex">
            <div class="pr_20 fw_600">COLLECTIONS</div>
            <div class="pr_20 fw_600"> CUSTOMIZER</div>
            <div class="pr_20 fw_600">SALE</div>
        </div>
        <div class="navbar-right flex">
            <div class="pr_20 fw_600">ITEMS</div>
            <div class="pr_20 fw_600">PROFILE</div>
        </div>
    </div>
    <div class="show-navbar">
        <div class="title-nav-bar">
            <div>
                <div class="title" *ngFor="let itemCollection of itemCollections" (click)="viewDetail(itemCollection)">{{itemCollection}}</div>
            </div>
            <div>
                <div class="title" *ngFor="let itemClothing of itemClothings">{{itemClothing}}</div>
            </div>
            <div>
                <div class="title" *ngFor="let itemAccessorie of itemAccessories">{{itemAccessorie}}</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div>
            <img class="brand-name" src="assets/icon/logo.svg">
        </div>
        <div class="text-content">Moscow clothing brand that doesn't limit itself to the framework of any concepts</div>
    </div>
    <div class="image-background">
        <img class="image" src="assets/icon/backgroundHome.svg">
    </div>
</div>

