.flex {
    display: flex;
}

.pr_20 {
    padding-right: 50px;
}

.fw_600 {
    font-weight: 600;
}

.wrapper {
    .content {
        text-align: center;

        .brand-name {
            width: 400px;
        }

        .text-content {
            font-family: 'Courier New', Courier, monospace;
        }
    }

    .image-background {
        margin-top: 25px;

        .image {
            width: 100%;
        }
    }
}