<div class="wrapper">
<app-taskbar (showMenu)="showNavBar($event)"></app-taskbar>   
    <div class="show-navbar" [style.display]="_showNavBar ? 'block' : 'none'">
        <div class="title-nav-bar">
            <div>
                <div class="title" *ngFor="let itemCollection of itemCollections" (click)="viewDetail(itemCollection)">{{itemCollection}}</div>
            </div>
            <div>
                <div class="title" *ngFor="let itemClothing of itemClothings" (click)="viewDetail(itemClothing)">{{itemClothing}}</div>
            </div>
            <div>
                <div class="title" *ngFor="let itemAccessorie of itemAccessories" (click)="viewDetail(itemAccessorie)">{{itemAccessorie}}</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div>
            <img class="brand-name" src="assets/icon/logo.svg">
        </div>
        <div class="text-content">Moscow clothing brand that doesn't limit itself to the framework of any concepts</div>
    </div>
    <div class="image-background">
        <img class="image" src="assets/icon/backgroundHome.svg">
    </div>
</div>

